<!Doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GESCARCOL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="img/header-logo1.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/slicknav.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/animate-text.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Ruby CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">

		<!-- Color CSS -->
		<!--<link rel="stylesheet" href="css/color/color7.css">-->
		<!--<link rel="stylesheet" href="css/color/color1.css">-->
		<!--<link rel="stylesheet" href="css/color/color2.css">-->
		<!--<link rel="stylesheet" href="css/color/color3.css">-->
		<link rel="stylesheet" href="css/color/color4.css">
		<!--<link rel="stylesheet" href="css/color/color5.css">-->
		<!--<link rel="stylesheet" href="css/color/color6.css">-->
		<!--<link rel="stylesheet" href="css/color/color8.css">-->
		<!--<link rel="stylesheet" href="css/color/color9.css">-->

		<link rel="stylesheet" href="#" id="colors">

    </head>
    <body>

		<div class="color-plate ">
			<a class="icon"><i class="fa fa-cog fa-spin"></i></a>
			<h2>Colores</h2>
			<div class="color-head">
				<span class="color1"></span>
				<span class="color2"></span>
				<span class="color3"></span>
				<span class="color4"></span>
				<span class="color5"></span>
				<span class="color6"></span>
				<span class="color7"></span>
				<span class="color8"></span>
				<span class="color9"></span>
			</div>
		</div>

		<!-- Header Area -->
		<header id="header" class="header">
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-2">
							<div class="logo">
								<a href="/"><img src="img/logo1.png" alt="logo1.png"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10">
							<div class="mobile-menu"></div>
							<nav class="navbar navbar-default">
								<div class="collapse navbar-collapse">
									<ul id="nav" class="nav navbar-nav">
										<li class="current"><a href="#slider">Inicio</a>
										</li>
										<li><a href="#Services">Servicios</a></li>
										<li><a href="#latest-works">Vehiculo<i class="fa fa-caret-down" aria-hidden="true"></i></a>
											<ul class="dropdown">
												<li><a href="/portafolio">Agregar</a></li>
												<li><a href="/estado">Estado</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--/ End Header Area -->

		<!-- Slider Area -->
		<section id="slider">
				<div class="single-slider" style="background-image:url('img/slider1.jpg')">
					<div id="particles-js"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="text">
									<h1 class="cd-headline clip is-full-width">
										GESCARCOL un ambiente
										<span class="cd-words-wrapper">
											<b class="is-visible">Moderno</b>
											<b>Seguro</b>
											<b>Amigable</b>
										</span>
									</h1>
									<p>Somos el servicio lider en mantenimiento de vehiculos.<br> Una industria familiar hecha en Colombia.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<!--/ End Slider Area -->

		<!-- features Area -->
		<section id="features" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Nosotros</h2>
							<p>¿Qué nos hace ser diferenciales en el mercado?</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.9s">
						<div class="feature-left">
							<img src="img/clutch.jpg" alt="#">
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.9s">
						<div class="feature-right">
							<div class="single-right">
								<i class="fa fa-mortar-board" aria-hidden="true"></i>
								<div class="right-content">
									<h3>Somos Especialistas</h3>
									<P>Somos especialistas en hacer adaptaciones de clutch y remanufacturar los sistemas de embragues.</P>
								</div>
							</div>
							<div class="single-right">
								<i class="fa fa-money" aria-hidden="true"></i>
								<div class="right-content">
									<h3>Precios Competitivos</h3>
									<P>Somos importadores de repuestos como embragues, suspensión y algunas partes de motor con el fin de que tengamos precios competitivos.</P>
								</div>
							</div>
							<div class="single-right">
								<i class="fa fa-envira" aria-hidden="true"></i>
								<div class="right-content">
									<h3>Cuidamos el Medio Ambiente</h3>
									<P>Trabajamos con la empresa <a href="http://portal.ecolcin.com/">ECOLCIN</a>, encargada de recoger aceites y filtros usados; al igual que baterías dañadas darles un buen uso y evitar la contaminación.</P>
								</div>
							</div>
							<div class="single-right">
								<i class="fa fa-desktop" aria-hidden="true"></i>
								<div class="right-content">
									<h3>Efectividad y Tecnología</h3>
									<P>Tenemos a su servicio nuestras instalaciones que cuentan con una moderna infraestructura; tecnología de punta y personal técnico calificado y responsable.</P>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End features Area -->

		<!-- Start Service area -->
		<section id="Services" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Servicios <span> Lideres</span></h2>
							<p>Nosotros ofrecemos los servicios de más alta calidad en el mercado.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.4s">
						<div class="single-service">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
							<h3>Compra y Venta</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
						<div class="single-service">
							<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
							<h3>Restauración</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.6s">
						<div class="single-service">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							<h3>Mantenimiento</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Service -->

		<!-- Footer Area -->
		<footer id="footer" class="footer section">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">

					</div>
				</div>
			</div>
			<!--/ End Footer Top -->

			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="copyright-content">
								<p>Copyright 2018 | Distributed by <a href="https://www.facebook.com/eduard.piineroz" target="_blank">Eduard Piñeros</a></p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<ul class="social">
								<li><a href="https://www.facebook.com/Clutch-de-Colombia-1204201732927049/timeline/?ref=hl"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/ClutchRedes"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/u/0/116616523728124825520"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/colors.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/animate-text.js"></script>
		<script src="js/particles.min.js"></script>
		<script src="js/particle-code.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0RqLa90WDfoJedoE3Z_Gy7a7o8PCL2jw"></script>
        <script type="text/javascript" src="js/gmaps.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
